.profile-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 3rem auto;
  justify-content: space-between;
  gap: 3rem;
}
.profilecontainer {
  display: flex;
  gap: 3rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  color: white;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile-detail span {
  font-size: 0.9rem;
}
.profile-detail p {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0px 0.5rem;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
